*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border:none;
    background: grey;
    max-width: 500px;
}

.number-ac {
    font-size: 2rem;
    padding: 0.5rem;
    max-width: 75px;
    min-width: 20px;
    background-color: grey;
}

.number-hp{
    font-size: 2rem;
    padding: 0.5rem;
    max-width: 100px;
    min-width: 20px;
    background-color: grey;
}


form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
 
form button:hover {
    background: #d88771;
    color: white;
}